
/* IMPOSTAZIONI GENERALI */
body { 
    background-image: url(../img/sfondo.png);
}

 
*{box-sizing: border-box;     
  font-size: 1.8rem;     
  font-family: 'Poppins', sans-serif;    
  line-height: 2rem;    }







/* HEADER */
header{
    
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    padding: 1.8rem;
    line-height: 2rem;
    color:white;
    box-shadow: 0 4px 4px rgb(53, 53, 53);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;}

header a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    line-height : 1.5rem ;} 


header p { padding-top: 1.8rem;
           font-weight: bold;

}
header div {padding-top: 2rem; }


header ul { padding: 2rem;}

header nav li a::before {
    content: "\22c6\0020";
}

header li { list-style-type: none;}





/* MAIN */
main { background-color: white;
    font-size: 1.1rem;
    margin-top: 1.8rem;
    text-align: justify;
    box-shadow: 0 4px 4px rgb(53, 53, 53);


}
main h1 {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin: 1.8rem;
    padding-top: 1.8rem;
    line-height: 2.5rem;
    
}
main p { margin:1.8rem ;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.5rem;


}


/* ELEMENTI NEL MAIN - ARTICLE */

#info { font-size: 1.1rem;
    color: #e3e3e3;

}

main li {
    margin-left: 4rem;
    text-align: left;
   
}
main code {
    border: 0.1rem solid rgb(107, 106, 106);
    border-radius: 0.5rem;
    background-color: rgb(208, 205, 205);
}

main h2 {
    border: 0rem;
    margin:1.8rem ;
    font-size: 1.1rem;
    text-align: left;
   
}
#video {
    text-align: center;
}
iframe {
    height: 10rem;
    text-align: center;
    border-radius: 1rem;
}




/* TABELLE */


caption{
    
    font-style: italic;
    font-weight: bold;
}
table{
    
    text-align: center;
    border-bottom: 3px solid#3f6bca;
}
td{
    border-top: solid 1px rgba(120, 119, 119, 0.432);
}
th{
    background-color: #3f6bca;
    border-right: 1px solid rgba(166, 165, 165, 0.304);
}
tr:nth-child(odd){
    background-color: #ddd;
    
}



/* FORM */

section { 
    
    text-align: center;
    background-color: lightgray;
}

section h2 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.8rem;
}



button {
    background-color: rgb(8, 113, 184);
    color: white;
}
/* ELEMENTI NELL' ASIDE */


aside h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
}

aside div {
    background-color: #e3e3e3;
    text-align: left;
}

aside a{
    font-weight: bold;
    margin-left: 1.8rem;
    
}

.data {
    text-align: right;
}
/* FOOTER */

footer {background-image: linear-gradient(to bottom,rgb(11, 89, 91),rgb(5, 38, 40));     
}
footer p{
    color: white;
    text-align: center;
    font-size: 1.1 rem;
    
    line-height: 3rem;
}
footer address {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 1.8rem;

}

footer a {
    color: rgb(226, 43, 202);
}

